@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"); * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

header {
  width: 90%;
  padding: 15px 0px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header > div > img {
  width: auto;
  height: 60px;
  padding: 5px 0px;
  box-sizing: border-box;
}

header > p {
  text-transform: uppercase;
  font-size: 3vw;
  font-weight: bold;
  background: linear-gradient(to right, rgb(236, 72, 153), rgb(239, 68, 68), rgb(255, 152, 0)) text;
  -webkit-text-fill-color: transparent;
}

nav {
  position: relative;
  background: transparent;
  backdrop-filter: blur(25px);
  z-index: 2;
}

nav > ul {
  display: flex;
  padding-top: 10px;
  margin-left: 30px;
  list-style: none;
}

nav > ul > li:nth-child(4) > a, nav > ul > li:nth-child(6) > a {
  border-right: none;
}


nav > ul > li:hover > a {
  background: rgba(0, 0, 0, 0.12);
}

nav > ul > li > a {
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-size: 18px;
  font-weight: 500;
  display: block;
  min-width: 120px;
  text-transform: capitalize;
  border-radius: 6px;
  padding: 10px 36px;
  text-align: center;
}

.banner > img {
  width: 100%;
  z-index: 1;
  transform: translateY(-50px);
  mask-image: linear-gradient(black 80%, transparent);
}

.menu-con {
  width: 88%;
  margin: 10px auto;
}

.menu-con > ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  border-radius: 8px;
  padding: 10px 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.menu-con > ul > li > a {
  display: flex;
  align-items: center;
  color: rgb(34, 34, 34);
  gap: 15px;
  font-size: 20px;
  text-decoration: none;
  min-width: 150px;
  padding: 15px 20px;
  text-align: center;
  cursor: pointer;
}

.menu-con > ul > li > a:hover {
  filter: brightness(80%);
}



.cacsanpham {
  width: 100%;
  margin: 0px auto;
  padding: 10px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cacsanpham article {
  width: 100%;
  margin: 0px auto;
  padding: 50px 30px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 45px;
}

.sanpham {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  border: 1px double rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 4px 5px 5px;
  transition: all 0.2s ease 0s;
}

.sanpham:hover {
  box-shadow: rgba(0, 0, 0, 0.48) 0px 0px 15px;
}

.sanpham > h4 {
  text-align: center;
  font-size: 25px;
  color: brown;
  padding: 10px;
}

.sanpham > img {
  width: 100%;
  cursor: zoom-in;
}

.sanpham > h5 {
  text-align: center;
  font-size: 16px;
  color: rgb(255, 41, 100);
  padding: 10px 5px;
}

.sanpham > p {
  text-align: center;
  text-indent: 30px;
  padding: 10px 0px;
  background: rgba(255, 96, 0, 0.247);
  color: rgb(255, 96, 0);
  border-radius: 8px;
  margin: 20px 10px 10px;
  cursor: pointer;
}

.sanpham span {
  padding-right: 40px;
}

h4 {
  width: 90%;
  margin: 0px auto;
  padding: 50px 0px 40px;
  font-size: 30px;
  background: linear-gradient(to right, rgb(236, 72, 132), rgb(255, 182, 3), rgb(255, 152, 0)) text;
  -webkit-text-fill-color: transparent;
}

hr {
  width: 90%;
  margin: 0px auto;
  border-image: linear-gradient(rgb(236, 72, 132), rgb(255, 153, 3)) 24 / 1 / 0 stretch;
  border-width: 4px;
  border-style: solid;
  color: rgb(49, 49, 73) !important;
}

.services {
  background-color: var(--bg-color);
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 370px));
  gap: 15px;
  justify-content: center;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .services .container {
      grid-template-columns: repeat(auto-fill, minmax(250px, 352px));
  }
}

.container .box {
  background-color: white;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: var(--box-shadow);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  transition: var(--transition);
}

.container .box i {
  width: 50px;
  height: 50px;
  background: linear-gradient(to left, rgba(255, 180, 0, 0.57), rgba(255, 255, 0, 0.55));
  border-radius: 50%;
  color: var(--black-color);
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 20px;
}

.container .box h3 {
  color: var(--black-color);
  transition: var(--transition);
}

.container .box p {
  margin: 10px 0px;
  line-height: 1.6;
  font-size: 15px;
  transition: var(--transition);
}

.container .box a {
  text-decoration: none;
}

.container .box button {
  margin-top: 10px;
  padding: 11px 19px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(to left, rgb(195, 255, 67), rgb(248, 255, 141));
  color: white !important;
}

.testimonial {
  width: 100%;
  padding: 0px;
}

.testimonial h2 {
  margin: 0px auto;
  padding: 50px 65px 40px;
  font-size: 30px;
  text-transform: uppercase;
  background: linear-gradient(to right, rgb(236, 72, 132), rgb(255, 182, 3), rgb(255, 152, 0)) text;
  -webkit-text-fill-color: transparent;
}

.testimonial .container {
  margin-top: 40px;
}

.container-cart {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: #0000001f;
  backdrop-filter: blur(5px);
  z-index: 2;
}

.container-cart.active {
  display: block;
}

.wrapper-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  background: rgb(254, 254, 254);
  top: 0px;
  left: -100%;
  width: 38.5vw;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.4) 0px -4px 32px;
  z-index: 2;
  transition: all .2s ease-in-out;
}

.wrapper-cart.active {
  left: 0%;
}

.wrapper-cart .list-items {
  display: grid;
  margin: 12.5px;
  padding: 5px;
  gap: 12.5px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  display: none;
}

.wrapper-cart .list-items li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  box-shadow: rgba(81, 107, 118, 0.15) 0px 1px 12px 0px;
  padding: 10px;
  border-radius: 10px;
}

.wrapper-cart .list-items li .poster {
  display: flex;
  align-items: center;
}

.wrapper-cart .list-items li .poster img {
  height: 100%;
  aspect-ratio: 16 / 9.5;
  object-fit: cover;
  border-radius: 8px;
}

.wrapper-cart .list-items li section {
  display: flex;
  gap: 15px;
  align-items: center;
}

.wrapper-cart .list-items li .options .remove {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  padding: 10px;
  background: linear-gradient(to left, rgb(207, 71, 71), rgb(233, 30, 99));
  color: rgb(226, 240, 254);
  margin: auto;
  height: 33px;
  width: 33px;
  cursor: pointer;
}

.wrapper-cart .settings {
  height: auto;
  background: linear-gradient(rgba(56, 189, 248, 0), rgb(253, 232, 186));
}

.wrapper-cart .settings form {
  display: grid;
  gap: 20px;
  margin: 15px;
}

.wrapper-cart .settings input {
  font-family: inherit;
  padding: 12px 0px 12px 15px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(15px);
}

.wrapper-cart .settings input::placeholder {
  color: white;
}

.wrapper-cart .settings input[type="submit"] {
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, rgb(56, 189, 248), rgb(59, 130, 246));
  cursor: pointer;
  margin: 0px;
}



.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-color);
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) / 2);
}

.contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.contact .map, .contact .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 20px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  height: 435px;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
  .contact .container {
      flex-direction: column;
      row-gap: 10px;
  }

  .contact .map, .contact .form {
      width: 100%;
  }

  .contact .map {
      height: auto;
  }
}

.contact .map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

.contact .form h2 {
  text-align: center;
  font-size: 26px;
  color: var(--black-color);
  margin-bottom: 20px;
}

.contact .form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

.contact .form form input:not(input[type="submit"]), .contact .form form textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(221, 221, 221);
  caret-color: var(--main-color);
  outline: none;
  transition: var(--transition);
  background-color: var(--bg-color);
}

.contact .form form input:not(input[type="submit"]):focus, .contact .form form textarea:focus {
  border-color: var(--main-color);
}

.contact .form form textarea {
  height: 130px;
  resize: none;
}

.contact .form form button {
  align-self: end;
}

.traodoi {
  width: 47%;
}

.traodoi > h4, .traodoi > hr {
  width: 100%;
}

.traodoi > form > input[type="text"], .traodoi > form > input[type="email"], .traodoi > form > textarea {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
  border: none;
  background-color: lightgray;
  border-radius: 5px;
}

.traodoi > form > div {
  justify-content: space-between;
}

.traodoi > form > div > input[type="text"], .traodoi > form > div > input[type="tel"] {
  width: 49.5%;
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
  border: none;
  background-color: lightgray;
  border-radius: 5px;
}

.traodoi > form > textarea {
  height: 100px;
}

input[type="submit"] {
  cursor: pointer;
  padding: 10px 30px;
  margin-top: 15px;
  background-color: darkred;
  color: white;
  border: none;
  border-radius: 5px;
}

input[type="submit"]:hover {
  background-color: lightblue;
  color: red;
}

footer {
  background-color: black;
  width: 100%;
  color: white;
  padding: 15px 0px;
  margin-top: 10px;
}

footer > .foottop {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

footer > .foottop h6 {
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 0px;
}

footer > .foottop a {
  text-decoration: none;
  color: white;
}

footer > .footmid {
  width: 80%;
  margin: 40px auto 0px;
  display: flex;
}

i footer > footmid h6 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0px;
}

footer > .foottop a {
  text-decoration: none;
  color: white;
}

footer > .footmid {
  width: 85%;
  margin: 40px auto 0px;
  display: flex;
  gap: 20px;
}

footer > .footmid img {
  width: 160px;
  padding-top: 15px;
}

footer > .footmid h6 {
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 0px;
}

footer > .footmid p {
  margin-top: 10px;
}

footer > footmid > .col1 {
}

footer > footmid > .coll img {
  width: 200px;
}

footer > .footmid > .col2 {
  width: 40%;
  padding-right: 100px;
}

footer > .footmid > .col2 input[type="text"], footer > .footmid > .col2 input[type="email"] {
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  border: none;
  background-color: rgb(58, 58, 58);
  border-radius: 5px;
}

footer > .footmid > .col3 {
  width: 20%;
}

footer > .footmid > .col3 a {
  text-decoration: none;
  color: white;
}

footer > .footbottom {
  width: 80%;
  margin: 20px auto 0px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

footer > .footbottom a {
  text-decoration: none;
  color: white;
}

@keyframes doimauchu {
  0% {
      color: blue;
  }

  100% {
      color: red;
  }
}
